body{
    position: static;
    background-image: url("../Pictures/Background.JPG");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    overflow: hidden;
}

header{
    position: static;
    height:100px;
    width:100%;
    background-color:rgb(36,64,146);
    opacity:0.75;
    text-align: center;
    font-family: HeaderFont;
    font-size:500%;
}

section{
    position: absolute;
    height:100%;
    width:20%;
    background-color:rgb(36,64,146);
    opacity:0.75;
    font-family: SectionFont;
}

.mirrorSection{
    position: absolute;
    height:100%;
    width:20%;
    background-color:rgb(36,64,146);
    opacity:0.75;
    font-family: SectionFont;
    right:0%;
    margin-right: 8px;
}

img{
    position: absolute;
    height:250px;
    width: 250px;
    left:775px;
}

h1{
    text-align: center;
    color:white;
    font-family: SectionFont;
}

.textContainer{
    position: absolute;
    bottom:100px;
    left:525px;
    width:800px;
    color:white;
    font-size:125%;
    font-family: SectionFont;
}

a{
    font-family: SectionFont;
    color:white;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}

.exitButton{
    position:absolute;
    left:850px;
    bottom:50px;
    color:white;
    background-color: rgb(36,64,146);
    border:3px solid rgb(36,64,146);
    border-radius: 10px;
    opacity:0.75;
    font-family: SectionFont;
    font-size:125%;
    border:2px solid white;
}

.exitButton:hover{
        box-shadow: 0 5px rgb(36,64,146);
        transform: translateY(3px);
}
