@font-face {
    font-family: HeaderFont;
    src: url(../Fonts/HeaderFont.otf);
  }

  .HeaderFontSpecs{
    font-family: HeaderFont;
    opacity: 0.5;
    color:white;
    animation:blinkingText 5s infinite;
  }

  @keyframes blinkingText{
    0%{     color: white;
            opacity:1;    }
    50%{    color: black;
            opacity:0.75;}
    100%{   color: white;
            opacity:1;} 
  }

  .HeaderFontSpecs:hover{
    color:white;
    opacity: 1;
  }
  .HeaderFontSpecs:hover::before{
    content:"= ";
  }
  .HeaderFontSpecs:hover::after{
    content: " =";
  }

  @font-face {
    font-family: SectionFont;
    src: url(../Fonts/SpaceGrotesk-Regular.otf);
  }

  .SectionFontSpecs{
    color:white;
    font-size:125%;
  }

  

  

