body{
    position:relative;
    background-image: url("../Pictures/Background.JPG");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    overflow: hidden;
}

body img{
    width:250px;
    height:250px;
}

header{
    position: static;
    height:100px;
    width:100%;
    background-color:rgb(36,64,146);
    opacity:0.75;
    text-align: center;
    font-family: HeaderFont;
    font-size:500%;
}

/*=====================*/
 
/*SECTION ELEMENTI*/

section{
    position: static;
    height:100%;
    width:17%;
    background-color:rgb(36,64,146);
    opacity:0.75;
    font-family: SectionFont;
}

section img{
    height:175px;
    width:175px;
    margin-left: 60px;
    text-align: center;
    transition: transform .2s;
}

section img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}

section p,div{
    color:white;
    font-size:125%;
    margin-left:10px;
}

section h1{
    margin-left: 10px;
    font-size:175%;
    color:white;
}

section a{
    color:white;
    text-decoration: none;
}

section li a{
    color:white;
    font-size: 125%;
    margin-bottom:15px;
    background: linear-gradient(to right, black 50%, black 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

section li a:hover{
    background-position: 0 100%;
}

section a:hover{
    color:black;
}

section progress{
    margin-left: 10px;
    margin-bottom: 1px;
    width: 150px;
    height: 15px;
}

section label{
    margin-left:10px;
}

section li {
    font-family:SectionFont;
    color: white;
    font-size:125%;
    line-height: 30px;
}

section input{
    margin-left: 40px;
}

section label{
    line-height: 30px;
    font-size:125%;
    color:white;
}

/*=====================*/

/*FOOTER ELEMENTI*/

footer img{
    margin-right: 10px;
    float:right;
    width:50px;
    height:50px;
}

footer img:hover{
    transform: translateY(-5px);
}

/*=====================*/

/*OSTALI ELEMENTI*/

.VideoContainer{
    border:3px solid white;
    border-radius: 10px;
    position:absolute;
    bottom:10%;
    left:86%;
}

.PicturePosition1{
    position: absolute;
    border:3px solid white;
    border-radius: 10px;
    bottom:350px;
    left:450px;
    transition: transform .2s;
}

.PicturePosition2{
    position: absolute;
    border:3px solid white;
    border-radius: 10px;
    bottom:350px;
    left:750px;
    transition: transform .2s;
}

.PicturePosition3{
    position: absolute;
    border:3px solid white;
    border-radius: 10px;
    bottom:350px;
    left:1050px;
    transition: transform .2s;
}

.PicturePosition4{
    position: absolute;
    border:3px solid white;
    border-radius: 10px;
    bottom:50px;
    left:450px;
    transition: transform .2s;
}

.PicturePosition5{
    position: absolute;
    border:3px solid white;
    border-radius: 10px;
    bottom:50px;
    left:750px;
    transition: transform .2s;
}

.PicturePosition6{
    position: absolute;
    border:3px solid white;
    border-radius: 10px;
    bottom:50px;
    left:1050px;
    transition: transform .2s;
}

.PicturePosition1:hover{
    border:5px solid white;
    border-radius: 10px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.20); 
}

.PicturePosition2:hover{
    border:5px solid white;
    border-radius: 10px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.20);
}

.PicturePosition3:hover{
    border:5px solid white;
    border-radius: 10px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.20);
}

.PicturePosition4:hover{
    border:5px solid white;
    border-radius: 10px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.20);
}

.PicturePosition5:hover{
    border:5px solid white;
    border-radius: 10px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.20);
}

.PicturePosition6:hover{
    border:5px solid white;
    border-radius: 10px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.20);
}

button{
    background-color: rgb(36,64,146);
    opacity:0.75;
    border-radius: 10px;
    color:white;
    font-family: HeaderFont;
    font-size:125%;
    width:50px;
    height:auto;
}

.currentPageButton{
    border:3px solid white;
    position:absolute;
    left:855px;

}

.nextPageButton{
    position:absolute;
    left:915px;
}

.previousPageButton{
    position: absolute;
    left:795px;
}

button:hover{
    border:3px solid white;
    transform: translateY(3px);

}

.dropbtn {
    width: auto;
    background-color: rgb(36,64,146);
    color: white;
    padding: 16px;
    border: 3px solid white;
    cursor: pointer;
  }
  
.dropdown {
    position: absolute;
    right:10px;
    top:150px;
    display: inline-block;
    font-family: SectionFont;
    font-size: 110%;
  }
  
.dropdown-content {
    position: absolute;
    display: none;
    background-color: rgb(36,64,146);
    opacity: 0.75;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
.dropdown-content a {
    color: white;
    border:2px solid white;
    border-radius:10px ;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    width:250px;
  }
  
.dropdown-content a:hover {
      font-weight: bold;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
